$color1: white
$myBorder: solid 5px black

main
	background-color: $color1
	border: $myBorder
	min-height: 1000px

	.refreshApi
		padding: 100px
		//height: 100px
		//width: 100px
		margin: 50px
		display: block
		border-radius: 50%

	.watchYouTube
		padding-top: 10px
		padding-bottom: 10px
		padding-left: 100px
		padding-right: 100px
		margin: 50px
		display: block



div
	border: $myBorder
	margin: 10px
